<md-toolbar class="toolbar">
  <button md-icon-button
          class="responsive"
          (click)="sideNavClick()">
    <md-icon class="example-icon">menu</md-icon>
  </button>

  <button md-icon-button
          class="responsive">
    <md-icon class="example-icon">search</md-icon>
  </button>

  <span class="spacer responsive"></span>

  <img class="logo" src="/assets/images/logo.png" [alt]="appName">

  <span class="spacer responsive"></span>

  <button md-icon-button
          class="responsive">
    <md-icon class="example-icon">person</md-icon>
  </button>
  <button md-icon-button
          class="responsive">
    <md-icon class="example-icon">shopping_cart</md-icon>
  </button>

  <md-toolbar-row id="categories">
    <div class="container">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Women</a></li>
        <li><a href="">Men</a></li>
        <li><a href="">Kids</a></li>
        <li><a href="">Home & Beauty</a></li>
        <li><a href="/tech">Tech</a></li>
        <li><a href="/outlet">Outlet</a></li>
      </ul>

      <span class="spacer"></span>

      <button md-icon-button>
        <md-icon class="example-icon">search</md-icon>
      </button>

      <a href="" class="login">SignUp/LogIn</a>

      <button md-icon-button>
        <md-icon class="example-icon">shopping_cart</md-icon>
      </button>
    </div>
  </md-toolbar-row>
</md-toolbar>
