<md-toolbar class="toolbar">
  <button md-icon-button
          class="responsive"
          (click)="sideNavClick()">
    <md-icon class="example-icon">menu</md-icon>
  </button>

  <button md-icon-button
          class="responsive">
    <md-icon class="example-icon">search</md-icon>
  </button>

  <span class="spacer responsive"></span>

  <div class="container">
    <img class="logo" src="/assets/images/logo.png" [alt]="appName">
  </div>

  <span class="spacer responsive"></span>

  <button md-icon-button
          class="responsive">
    <md-icon class="example-icon">person</md-icon>
  </button>
  <button md-icon-button
          class="responsive">
    <md-icon class="example-icon">shopping_cart</md-icon>
  </button>

  <md-toolbar-row id="categories">
    <div class="container">
      <ul>
        <li><a (click)="routeTo($event, 'home')" href="">Home</a></li>
        <li><a (click)="routeTo($event, 'women')" href="">Women</a></li>
        <li><a (click)="routeTo($event, 'men')" href="">Men</a></li>
        <li><a (click)="routeTo($event, 'kids')" href="">Kids</a></li>
        <li><a (click)="routeTo($event, 'beauty')" href="">Home & Beauty</a></li>
        <li><a (click)="routeTo($event, 'tech')" href="">Tech</a></li>
        <li><a (click)="routeTo($event, 'outlet')" href="">Outlet</a></li>
      </ul>

      <span class="spacer"></span>

      <button md-icon-button>
        <md-icon class="example-icon">search</md-icon>
      </button>

      <a href="" class="login">SignUp/LogIn</a>

      <button md-icon-button>
        <md-icon class="example-icon">shopping_cart</md-icon>
      </button>
    </div>
  </md-toolbar-row>
</md-toolbar>
