<md-sidenav-container class="app-container">
  <app-header [appName]="appName"
              (onSideNavClick)="sidenav.open()"></app-header>

  <md-sidenav #sidenav class="app-sidenav">
    <ul>
      <li class="item-list">
        <a (click)="sidenav.close()" routerLink="/home">Home</a>
      </li>
      <li class="item-list" routerLinkActive="active">
        <a (click)="sidenav.close()" routerLink="/home/women">Women</a>
      </li>
      <li class="item-list" routerLinkActive="active">
        <a (click)="sidenav.close()" routerLink="/home/men">Men</a>
      </li>
      <li class="item-list" routerLinkActive="active">
        <a (click)="sidenav.close()" routerLink="/home/kids">Kids</a>
      </li>
      <li class="item-list" routerLinkActive="active">
        <a (click)="sidenav.close()" routerLink="/home/beauty">Home & Beauty</a>
      </li>
      <li class="item-list" routerLinkActive="active">
        <a (click)="sidenav.close()" routerLink="/home/tech">Tech</a>
      </li>
      <li class="item-list" routerLinkActive="active">
        <a (click)="sidenav.close()" routerLink="/home/outlet">Outlet</a>
      </li>
    </ul>
  </md-sidenav>

  <div class="app-sidenav-content">
    <section class="app-content">
      <router-outlet></router-outlet>
    </section>

    <app-footer></app-footer>
  </div>

</md-sidenav-container>

<app-scroll-to-top target=".mat-drawer-content" threshold="500"></app-scroll-to-top>
