/* You can add global styles to this file, and also import other style files */
@import 'app-theme';

html, body {
  font-family: 'Roboto', sans-serif;
  min-width: 320px;
}

html, body, app-root, md-sidenav-container, .app-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

app-root {
  display: block;
}

app-header {
  display: block;
  z-index: 9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 767px) {
  app-header {
    position: sticky;
    top: 0;
  }
}

@media screen and (min-width: 780px) {
  .mat-toolbar-row {
    min-height: 80px;
  }
}
