<div class="footer-wrapper">
  <section class="socials container">
    <div class="list-wrapper">
      <a href="https://www.facebook.com/Secretsales">
        <p>Like us</p>
        <h3>On Facebook</h3>
        <img src="/assets/images/facebook.png" alt="Facebook logo">
      </a>
    </div>

    <div class="list-wrapper">
      <a href="https://twitter.com/Secretsales">
        <p>Follow us</p>
        <h3>On Twitter</h3>
        <img src="/assets/images/twitter.png" alt="Twitter logo">
      </a>
    </div>

    <div class="list-wrapper">
      <a href="http://www.pinterest.com/secretsales/">
        <p>See our pins</p>
        <h3>On Pinterest</h3>
        <img src="/assets/images/pinterest.png" alt="Pinterest logo">
      </a>
    </div>

    <div class="list-wrapper">
      <a href="https://www.youtube.com/user/secretsalesdotcom">
        <p>Watch us</p>
        <h3>On YouTube</h3>
        <img src="/assets/images/youtube.png" alt="YouTube logo">
      </a>
    </div>
  </section>

  <section class="links container">
    <div class="list-wrapper">
      <h3>Help</h3>

      <ul>
        <li><a href="">Contact Us</a></li>
        <li><a href="">Payments</a></li>
        <li><a href="">Redeem a gift voucher</a></li>
        <li><a href="">Delivery</a></li>
        <li><a href="">Returns</a></li>
        <li><a href="">FAQs</a></li>
      </ul>
    </div>

    <div class="list-wrapper">
      <h3>Further information</h3>

      <ul>
        <li><a href="">Drop Everything</a></li>
        <li><a href="">About us</a></li>
        <li><a href="">Brands we work with</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">Suppliers</a></li>
        <li><a href="">Affiliate programme</a></li>
        <li><a href="">Privacy</a></li>
        <li><a href="">Terms & conditions</a></li>
      </ul>
    </div>

    <div class="list-wrapper payments">
      <h3>Payment methods</h3>

      <img class="payments-methods" src="/assets/images/footer.png">
    </div>
  </section>

  <section class="copy container">
    <p>&copy; 2017 SECRETSALES Ltd</p>
  </section>
</div>
